In [1]:
import os
import pandas as pd
import zipfile

In [12]:
# Extract zip file 

zip_path =  "c:/Users/rogel/Documents/GitHub/Weather_Proyect/data/weather.zip"
extract_path = 'c:/Users/rogel/Documents/GitHub/Weather_Proyect/data'

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

## Transformations

In [2]:
path = 'c:/Users/rogel/Documents/GitHub/Weather_Proyect/data'
city_df = pd.read_csv(f'{path}/city_attributes.csv')
humidity_df = pd.read_csv(f'{path}/humidity.csv')
pressure_df = pd.read_csv(f'{path}/pressure.csv')
temperature_df = pd.read_csv(f'{path}/temperature.csv')
weatherDes_df = pd.read_csv(f'{path}/weather_description.csv')
windDir_df = pd.read_csv(f'{path}/wind_direction.csv')
wind_speed_df = pd.read_csv(f'{path}/wind_speed.csv')

In [7]:
wind_speed_df.head(5)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
1,2012-10-01 13:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,4.0,7.0,4.0,3.0,1.0,0.0,8.0,2.0,2.0,2.0
2,2012-10-01 14:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,4.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
3,2012-10-01 15:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,3.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0
4,2012-10-01 16:00:00,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,4.0,...,3.0,7.0,4.0,3.0,3.0,0.0,8.0,2.0,2.0,2.0

In [18]:
humidity_df.head(5)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN
1,2012-10-01 13:00:00,76.0,81.0,88.0,81.0,88.0,82.0,22.0,23.0,50.0,...,71.0,58.0,93.0,68.0,50.0,63.0,22.0,51.0,51.0,50.0
2,2012-10-01 14:00:00,76.0,80.0,87.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,91.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
3,2012-10-01 15:00:00,76.0,80.0,86.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,87.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
4,2012-10-01 16:00:00,77.0,80.0,85.0,79.0,88.0,81.0,21.0,23.0,49.0,...,69.0,57.0,84.0,68.0,52.0,62.0,22.0,51.0,51.0,50.0

In [8]:
import pandas as pd
import re
import pymysql
import pandas as pd
from io import BytesIO
from sqlalchemy import create_engine
import numpy as np

In [15]:

def load_to_bd(df,name):
    # Datos de conexiÃ³n a la RDS de Amazon
    host = '127.0.0.1'  # Cambia esto por el endpoint de tu RDS
    port = 3307
    user = 'airflow'  # Cambia esto por tu usuario
    password = 'airflow'  # Cambia esto por tu contraseÃ±a
    database = 'airflow'  # Cambia esto por tu base de datos
    engine = None

    try:
        engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

        df.to_sql(name,con=engine,if_exists='append',index=False)
        return print("ConexiÃ³n y insercion exitosa a la base de datos RDS MySQL")

        

    

    except pymysql.MySQLError as e:
        print(f"Error al conectar a la base de datos: {e}")
    finally:
        if engine:
            engine.dispose()

In [10]:
dicc = {
    'Country':city_df,
    'humidity': humidity_df,
    'pressure': pressure_df,
    'temperature': temperature_df,
    'weather_description': weatherDes_df,
    'wind_direction': windDir_df,
    'wind_speed': wind_speed_df
}

In [11]:
for key,df in dicc.items():
    df['id']= range(1, len(df) + 1)

In [13]:
city_df

                 City        Country   Latitude   Longitude  id
0           Vancouver         Canada  49.249660 -123.119339   1
1            Portland  United States  45.523449 -122.676208   2
2       San Francisco  United States  37.774929 -122.419418   3
3             Seattle  United States  47.606209 -122.332069   4
4         Los Angeles  United States  34.052231 -118.243683   5
5           San Diego  United States  32.715328 -117.157257   6
6           Las Vegas  United States  36.174969 -115.137222   7
7             Phoenix  United States  33.448380 -112.074043   8
8         Albuquerque  United States  35.084492 -106.651138   9
9              Denver  United States  39.739151 -104.984703  10
10        San Antonio  United States  29.424120  -98.493629  11
11             Dallas  United States  32.783058  -96.806671  12
12            Houston  United States  29.763281  -95.363274  13
13        Kansas City  United States  39.099731  -94.578568  14
14        Minneapolis  United States  44.979969  -93.263840  15
15        Saint Louis  United States  38.627270  -90.197891  16
16            Chicago  United States  41.850029  -87.650047  17
17          Nashville  United States  36.165890  -86.784439  18
18       Indianapolis  United States  39.768379  -86.158043  19
19            Atlanta  United States  33.749001  -84.387978  20
20            Detroit  United States  42.331429  -83.045753  21
21       Jacksonville  United States  30.332180  -81.655647  22
22          Charlotte  United States  35.227089  -80.843132  23
23              Miami  United States  25.774269  -80.193657  24
24         Pittsburgh  United States  40.440620  -79.995888  25
25            Toronto         Canada  43.700111  -79.416298  26
26       Philadelphia  United States  39.952339  -75.163788  27
27           New York  United States  40.714272  -74.005966  28
28           Montreal         Canada  45.508839  -73.587807  29
29             Boston  United States  42.358429  -71.059769  30
30          Beersheba         Israel  31.251810   34.791302  31
31  Tel Aviv District         Israel  32.083328   34.799999  32
32              Eilat         Israel  29.558050   34.948212  33
33              Haifa         Israel  32.815559   34.989170  34
34          Nahariyya         Israel  33.005859   35.094090  35
35          Jerusalem         Israel  31.769039   35.216331  36

In [16]:
for key,df in dicc.items():
    df = df.iloc[0:10, :]
    load_to_bd(df,key)

ConexiÃ³n y insercion exitosa a la base de datos RDS MySQL
ConexiÃ³n y insercion exitosa a la base de datos RDS MySQL
ConexiÃ³n y insercion exitosa a la base de datos RDS MySQL
ConexiÃ³n y insercion exitosa a la base de datos RDS MySQL
ConexiÃ³n y insercion exitosa a la base de datos RDS MySQL
ConexiÃ³n y insercion exitosa a la base de datos RDS MySQL
ConexiÃ³n y insercion exitosa a la base de datos RDS MySQL

In [2]:
from pyspark import SparkConf

conf = SparkConf().setAppName("Get new data").setMaster("local")
spark = SparkSession.builder.config(conf=conf).getOrCreate()

Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: org.apache.spark.SparkException: Invalid Spark URL: spark://HeartbeatReceiver@Roger_Cortez:60072
	at org.apache.spark.rpc.RpcEndpointAddress$.apply(RpcEndpointAddress.scala:66)
	at org.apache.spark.rpc.netty.NettyRpcEnv.asyncSetupEndpointRefByURI(NettyRpcEnv.scala:140)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRefByURI(RpcEnv.scala:102)
	at org.apache.spark.rpc.RpcEnv.setupEndpointRef(RpcEnv.scala:110)
	at org.apache.spark.util.RpcUtils$.makeDriverRef(RpcUtils.scala:36)
	at org.apache.spark.executor.Executor.<init>(Executor.scala:301)
	at org.apache.spark.scheduler.local.LocalEndpoint.<init>(LocalSchedulerBackend.scala:64)
	at org.apache.spark.scheduler.local.LocalSchedulerBackend.start(LocalSchedulerBackend.scala:132)
	at org.apache.spark.scheduler.TaskSchedulerImpl.start(TaskSchedulerImpl.scala:235)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:599)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)

In [ ]:

        #Read the table from the database
df = spark.read.format("jdbc").option("url","jdbc:mysql://localhost:3306/airflow")\
            .option("dbtable","humidity")\
            .option("uswr","airflow")\
            .option("password","airflow")\
            .option("driver","com.mysql.jdbc.Driver")\
            .load()